*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}
.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 100, 0.2),rgba(0, 0, 30, 1)), url(unsplash.png);
	background-size: cover;
	position: relative;
}
.formBox{
	width: 70%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	border-radius: 10px;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(210, 210, 210, 0.3);
	padding: 50px 60px 70px;
	text-align: center;
}
.formBox h1{
	font-size: 30px;
	margin-bottom: 60px;
	color: rgb(0, 0, 50);
}
.formBox h1::after{
	content: '';
	width: 50px;
	height: 4px;
	border-radius: 3px;
	background: rgb(0, 0, 50);
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}
.inputGroup{
	background: rgb(255, 255, 255);
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
}
input{
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}
.inputGroup i{
	margin-left: 15px;
	color: rgb(120, 120, 120);
}
